<a href="https://colab.research.google.com/github/yooung513/CodingTest/blob/Baekjoon/Baekjoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01

In [ ]:
# 1-1

print('Hello World!')

Hello World!

In [ ]:
# 1-2

def pr(num) :
  for i in range(num) :
    print('강한친구 대한육군')

pr(2)


print('강한친구 대한육군')
print('강한친구 대한육군')

강한친구 대한육군
강한친구 대한육군
강한친구 대한육군
강한친구 대한육군

In [ ]:
# 1-3

a, b = map(int, input().split())

print(a+b)

3 5
8

In [ ]:
# 1-4

a, b = map(int, input().split())

print(a-b)

3 2
1

In [ ]:
# 1-5

a, b = map(int, input().split())

print(a*b)

1 2
2

In [ ]:
# 1-6

a, b = map(int, input().split())

print(a/b)

4 5
0.8

In [ ]:
# 1-7
# *** 몫만 구하는 경우는 연산자 // 사용

a, b = map(int, input().split())

print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

7 3
10
4
21
2
1

In [ ]:
# 1-8

id = input()
print(id, '??!', sep = '')

joonas
joonas??!

In [ ]:
# 1-9

tai = int(input())
year = tai - 543

print(year)

2541
1998

In [ ]:
# 1-10

k, q, l, b, n, p = map(int, input().split())

k1 = 1 - k
q1 = 1 - q
l2 = 2 - l
b2 = 2 - b
n2 = 2 - n
p8 = 8 - p

print(k1, q1, l2, b2, n2, p8)

2 1 2 1 2 1
-1 0 0 1 0 7

In [ ]:
# 1-11

a, b, c = map(int, input().split())

print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)


print(((a%c)*(b%c))%c)

5 8 4
1
1
0
0

In [ ]:
# 1-12

a = int(input())
b = int(input())

b1 = b//100
c = b//10
b2 = c%10 
b3 = b%10

print(a*b3)
print(a*b2)
print(a*b1)
print(a*b)

472
385
2360
3776
1416
181720

# 02

In [ ]:
# 2-1

a, b = map(int, input().split())

if a > b :
  print('>')
elif a < b :
  print('<')
else :
  print('==')

5 5
=

In [ ]:
# 2-2

score = int(input())

if score >= 90 :
  print('A')
else :
  if score >= 80 :
    print('B')
  else :
    if score >= 70 :
      print('C')
    else :
      if score >= 60 :
        print('D')
      else :
        print('F')

59
F

In [ ]:
# 2-3

year = int(input())

if year % 4 == 0 and year % 100 != 0 :
  print('1')
elif year % 400 == 0 :
  print('1')
else :
  print('0')

2000
1

In [ ]:
# 2-4

x = int(input())
y = int(input())

if x > 0 and y > 0 :
  print('1')
elif x < 0 and y > 0 :
  print('2')
elif x < 0 and y < 0 :
  print('3')
elif x > 0 and y < 0 :
  print ('4')

# 이외의 경우는 따로 출력하지 않음

0
12

In [ ]:
# 2-5

h, m = map(int, input().split())
m1 = m-45

if m1 >= 0 :
  print(h, m1)
else :
  m2 = 60+m1
  if h == 0 :
    print(23, m2)
  else :
    h1 = h-1
    print (h1, m2)

23 40
22 55

In [ ]:
# 2-6

h, m = map(int, input().split())
t = int(input())

m1 = m+t
m2 = m1%60

h1 = m1//60
h2 = h+h1
h3 = h2-24

if h3 < 0 :
  print(h2, m2)
else : 
  print(h3, m2)

23 48
25
0 13

In [ ]:
# 2-7

a, b, c = map(int, input().split())

a1 = a-b
b1 = b-c
c1 = c-a

if a1 == 0 :
  if b1 == 0 :
    print(10000+a*1000)
  else :
    print(1000+a*100)
elif b1 == 0 :
  print(1000+b*100)
elif c1 == 0 :
  print(1000+c*100)
else :
  d = (a if a > b else b) if ((a if a > b else b) > c) else C
  print(d*100)

6 2 5
600

In [ ]:
# 2-8

a, b, c = map(int, input().split())

a1 = a-b
b1 = b-c
c1 = c-a

if a1 == 0 :
  if b1 == 0 :
    print(10000+a*1000)
  else :
    print(1000+a*100)
elif b1 == 0 :
  print(1000+b*100)
elif c1 == 0 :
  print(1000+c*100)
else :
  d = (a if a > b else b) if ((a if a > b else b) > c) else C
  print(d*100)
# 런타임 에러

In [2]:
# 2-8

a, b, c = map(int, input().split())

a1 = a-b
b1 = b-c
c1 = c-a

if a1 == 0 :
  if b1 == 0 :
    print(10000+a*1000)
  else :
    print(1000+a*100)
elif b1 == 0 :
  print(1000+b*100)
elif c1 == 0 :
  print(1000+c*100)
else :
  x = a if a > b else b
  y = x if x > c else c
  print(y*100)

6 2 5
600